.em-articles-container {
	width: 100% !important;
}

.em-articles-listitem {
	flex-basis: 100% !important;
}

.em-articles-thumbnail {
	width: 100% !important;
	padding-top: 0 !important;
}

.em-articles-thumbnail-first {
	height: 150px !important;
}