/*

*/

/* container for list of articles */
.em-articles-container {
	opacity: 1 !important;

	margin: auto;
	width: 95%;
	font-size: 10px;
}

/* flexbox <ul> element */
.em-articles-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0; /* ul fix */
}

/* flex <li> element */
.em-articles-listitem {
	flex-basis: 30%; /* 3 article per line */
	list-style: none !important; /* li fix */
	margin: 1.5em;
}

/* special rule for first <li> element */
.em-articles-firstitem {
	flex-basis: calc(60% + 3em); /* twice the size + margins to equal 2 articles */
	background-color: hsl(20, 10%, 95%);
}

/* alternating background colors from the third article */
/* first article has special background */
.em-articles-listitem:nth-child(2n + 3) {
	background-color: hsl(40, 30%, 95%);
}

/* surrounds the entire article */
.em-articles-link {
	text-decoration: none;
	color: hsl(0, 0%, 0%);
}

/* on articlel hover the title will get underline text-decoration */
.em-articles-link:hover .em-articles-title {
	text-decoration: underline !important;
	color: hsl(0, 0%, 0%) !important; /* in case any theme css */
}

/* article image */
.em-articles-thumbnail {
	display: block;
	
	margin: auto;
	width: 100%;
}

/* article title */
.em-articles-title {
	display: block;

	padding: 0.5em;
	line-height: 1;
	
	font-size: 2.4em;
	font-weight: bold;
}

/* article sub text */
.em-articles-excerpt {
	display: block;

	padding: 0 0.5em;
	
	font-size: 1.6em;
}

/* special rule for first article image */
/* sets height to 20em and moves the image up 40% (showing more of the bottom and less of the top) */
.em-articles-thumbnail-first { 
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 20em;
	background-position: 0 40%;
	display: block;
}

/*
	WIDGET SECTION
*/

/* widget container */
.em-articles-widget {
	display: flex;
    flex-direction: row;
    height: 30em;
}

/**/
.em-articles-widget-list {
	padding: 0;
	list-style: none; /* wordpress fix */
	flex-grow: 1;
}

.em-articles-widget-list img {
	width: 100%;
}