


html {
	font-size: 62.5%;
}

/* container for list of articles */
.em-articles-container {
	opacity: 1 !important;

	/*margin: auto;*/
	/*width: 100%;*/
	font-size: 1.4rem;
}

/* flexbox <ul> element */
.em-articles-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	grid-gap: 2rem;
	padding: 0; 
	margin: 0;
}

/* flex <li> element */
.em-articles-listitem {
	list-style: none; /* li fix */
}

/* special rule for first <li> element */
.em-articles-firstitem {
    grid-column: 1 / span 2;
	background-color: hsl(20, 10%, 95%);
}

/* alternating background colors from the third article */
/* first article has special background */
.em-articles-listitem:nth-child(2n + 3) {
	background-color: hsl(40, 30%, 95%);
}

/* surrounds the entire article */
.em-articles-link {
	text-decoration: none;
	color: hsl(0, 0%, 0%);
}

/* on articlel hover the title will get underline text-decoration */
.em-articles-link:hover .em-articles-title {
	text-decoration: underline !important;
	color: hsl(0, 0%, 0%) !important; /* in case any theme css */
}

/* article image */
.em-articles-thumbnail {
	display: block;
	
	/*margin: auto;*/
	width: 100%;
}

/* article title */
.em-articles-title {
	display: block;

	padding: 0.5rem;
	line-height: 1;
	
	font-size: 2.4rem;
	font-weight: bold;
}

/* article sub text */
.em-articles-excerpt {
	display: block;
	margin: 1rem;
}

/* special rule for first article image */
/* sets height to 20em and moves the image up 40% (showing more of the bottom and less of the top) */
.em-articles-thumbnail-first { 
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 20rem;
	background-position: 0 40%;
	display: block;
}

/*
	WIDGET SECTION
*/

/* widget container */
.em-articles-widget {
	display: flex;
    flex-direction: row;
    height: 30rem;
}

/**/
.em-articles-widget-list {
	padding: 0;
	list-style: none; /* wordpress fix */
	flex-grow: 1;
}

.em-articles-widget-list img {
	width: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
	.em-articles-list {
		display: flex;
		flex-wrap: wrap;

	}
	.em-articles-listitem {
		width: 30%;
		margin-bottom: 3rem;
		margin-right: 3rem;
	}

	.em-articles-firstitem {
		width: 63%;
	}

	.em-articles-listitem:nth-child(3n+2) {
		margin-right: 0 !important;
	}
}

@supports not (display: grid) and not (display: -ms-grid) {
	.em-articles-list {
		display: flex;
		flex-wrap: wrap;

	}
	.em-articles-listitem {
		width: 30%;
		margin-bottom: 3rem;
		margin-right: 3rem;
	}

	.em-articles-firstitem {
		width: 63%;
	}

	.em-articles-listitem:nth-child(3n+2) {
		margin-right: 0 !important;
	}
}